.page {
  font-family: "Reggae One", system-ui;
  font-weight: 400;
  font-style: normal;
  background-image: url('./images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 100vh;
}

.main {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
  grid-template-columns: 280px auto;
}

.searchbarContainer {
  padding: 20px 0 0 20px;
}

.displayContainer {
  margin: 20px auto 20px;
  display: grid;
}

.noDataInfo {
  font-size: 30px;
  justify-self: center;
}

@media screen and (max-width: 865px) {
  .main {
    grid-template-columns: 100%;
    justify-content: space-between;
  }

  .displayContainer {
    margin-left: 20px;
  }
}